
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
   
    
};

.fonte
{
    font-family: "Ubuntu", sans-serif;
 
}

.headerDiv
{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 2vh;
    border-radius:  0px  0px 0px 0px ;
    border-radius:  0px  0px 0px 0px ;
   /* border: solid 1px rgb(255, 255, 255) ;*/
    box-shadow: 0px 0px 20px 0px rgba(0, 8, 36, 0.384);
    display: flex;
}

.headerDiv p
{
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    text-align: center;
}

.headerDiv p:hover
{
    color: rgb(41, 177, 231);
}

.nomeBlog 
{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:calc(20px + 2vw);
    text-align: center;
    color: rgb(255, 255, 255);
}

body
{
    background-image: url("../images/R.jpg");
    
    background-position: bottom ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,30,64,255)!important;
}

.tituloDestaque
{
    font-family: "Ubuntu", sans-serif;
    font-size: 3vw;
}
    
.divDestaque
{ 
    transition: 600ms;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.divDestaque:hover
{
    transition: 300ms;
    color: rgb(41, 177, 231);
    opacity: 90%;
   
}

.tituloDestaque p 
{
    text-align: left;
}

.postsP2
{
    color: white;
    font-size: larger;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
}

.postsP
{
    border: solid 0px rgb(255, 255, 255) ;
    margin-bottom: 2% ;
    box-shadow: 0px 0px 0px 0px rgba(0, 8, 36, 0.151);
    text-align: center;
}

.meio
{
    margin-inline:0%;
}

.posts div
{
    transition: 600ms;
    padding: 0;
    border-radius:0;
    width: 30%; 
}

.postsP:hover
{
    transition: 300ms;
    transform: translateY(1px);
    color: rgb(41, 177, 231);
    opacity: 90%;
}

.postsP 
{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: larger;
    font-weight: 600;
}

.sobreStyle p
{    
    cursor: pointer;
    color: rgb(48, 45, 65);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: large;
    
}

.sobreStyle p:hover
{
    color: rgb(41, 177, 231);
}

.sobreStyle
{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 1vh;
    border-radius: 0px 0px 0px 5px;
    border: solid 1px rgb(255, 255, 255) ;
    box-shadow: 0px 0px 0px 0px rgba(0, 8, 36, 0.384); 
}

.footerDiv p
{
 text-align: center;
 font-size: medium;
 font-weight: 500;
 color: rgba(255, 255, 255, 0.897);
}

.headerDivSand
{
    cursor: pointer;
    display: none; 
}
    
@media screen and (max-width: 991px) 
{
    
.headerDiv
{
    cursor: pointer;
    transition: 200ms;
    display: none;
}
.headerDivSand
{
    cursor: pointer;
    display: block;
    color: white;
}
    
}